---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About US">
    <div class="">
      <section class="my-8">
        <p class="mb-4">
          Welcome to YourDailyWay, your trusted resource for embarking on a transformative journey towards a healthier,
          more balanced life through the power of daily routines. Our mission is to empower you with the tools and
          inspiration to cultivate positive habits that can enhance your overall well-being.
        </p>
        <p class="mb-4">
          YourDailyWay is more than just a website; it's a community dedicated to helping you find your path to a more
          fulfilling life. By embracing the potential of daily routines, you can improve your physical and mental
          health, boost productivity, and infuse more joy into your daily existence. Let us guide you on this journey to
          becoming the best version of yourself.
        </p>
        <p>
          Our journey began with a simple but powerful realization: the small, consistent actions we take each day have
          the potential to create remarkable, lasting change. We started YourDailyWay to share our own personal
          transformation stories and to help others discover the same potential in their lives.
        </p>
      </section>

      <section class="my-8">
        <h2 class="mb-4 text-2xl font-bold">Frequently Asked Questions</h2>
        <div class="space-y-4 py-4">
          <div>
            <h3 class="mb-2 text-xl font-semibold">Q: How can I start building a daily routine?</h3>
            <p>Begin with one small habit and gradually add more as you become comfortable with your routine.</p>
          </div>

          <div>
            <h3 class="mb-2 text-xl font-semibold">Q: What are the benefits of a daily routine?</h3>
            <p>
              A daily routine can lead to improved productivity, reduced stress, better health, and a more balanced
              life.
            </p>
          </div>

          <div>
            <h3 class="mb-2 text-xl font-semibold">Q: How can YourDailyWay help me on my journey?</h3>
            <p>
              At YourDailyWay, we provide expert insights, actionable tips, and a supportive community to help you
              design a daily routine that aligns with your goals and aspirations. We're here to guide you every step of
              the way on your path to a healthier, more joyful life.
            </p>
          </div>

          <div>
            <h3 class="mb-2 text-xl font-semibold">Q: What inspired you to create YourDailyWay?</h3>
            <p>
              Our inspiration stems from the remarkable transformations we've witnessed in our own lives through the
              adoption of daily routines. We believe that everyone has the potential to lead a more fulfilling and
              balanced life, and we started this platform to share our experiences and help others embark on a similar
              journey.
            </p>
          </div>

          <!-- Add more FAQ items here -->
        </div>
      </section>
    </div>
  </Page>
</Base>
