---
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
  <div class="border-t border-zinc-100 dark:border-zinc-900">
    <p class="mb-8 mt-8 text-center text-xs/relaxed text-zinc-500 dark:text-zinc-400">
      &copy; {year}. <a
        href="https://yourdailyway.com"
        class="text-zinc-700 decoration-dashed transition hover:text-zinc-700/75 dark:text-zinc-200 dark:hover:text-zinc-200/75"
        >Your Daily Way</a
      > - All rights resrverd.
    </p>
  </div>
</footer>
